.app__chefs {
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 240, 231);
  background-color: #fff;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  

  .chef-title-div {
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #c0841d;
  }

  .app__chef-row {
    width: 70%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    overflow-x: scroll;
    // overflow-x: hidden;
    
    .app__chefs-container {
      display: flex;
      
      .app__chef-details {
        display: flex;
        flex-direction: column;

        .app__chef-img {
          width: 15rem;
          height: auto;
          
          .chef-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}