.app__cooking {
  width: 100%;
  height: 100vh;
  background: #F5EFEF;
  padding: 2rem;

  .cooking-title {
    text-align: center;
    border-bottom: 2px solid #c0841d;
  }

  .app__cooking-container {
    display: flex;
    gap: 2rem;
    width: 100%;
    padding-top: 2rem;

    .app__cooking-right {
      width: 60%;

      .cooking-img {
        width: 100%;
        height: auto;
      }
    }
  }
}