.app__home {
  height: 100vh;
  padding-top: 6rem;
}

.app__homeRow {
  width: 96%;
  margin: 0 auto;
  background: #fff;

  // .homeRow__items {
  //   display: flex;
  //   overflow: hidden;
  // }
}

.app__mealCard {
  -moz-box-shadow: inset 0 15em rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 15em rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 15em rgba(0, 0, 0, 0.2);
  height: 15em;
  background-size: cover !important;
  background-position: center !important;
  aspect-ratio: 1;
  color: #fff;
}
