.app__recipedetails {
  padding: 2rem;
  background: #f5efef;
  width: 100%;

  .details-img {
    width: 100%;
    height: 26rem;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.3);
      pointer-events: none;
    }

    .image-field {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }
}