@media screen and (max-width: 768px) {
  .animalia-top-section {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3% 0 3% 0;
    background-image: 
        linear-gradient(to bottom, rgba(18,42, 66, 0.5), rgba(18,42, 66, .85)), 
        url("../images//phoro2.jpg");
       -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%; 
  }

  .big-five {
    width: 768px;
    height: 18rem;
    opacity: 0.4;
    backdrop-filter: blur(8px);
    border-radius: 10px;
  }

  .top-description {
    font-size: 44px;
    color: #fff;
    text-align: center;
  }

  .animalia-dropdown {
    display: flex;
    flex-direction: row;
    padding: 24px;
  }

  .animal-images {
    width: 12rem;
    height: 10rem;
    border-radius: 8px;
  }

  .animalia-description {
    display: grid;
    justify-content: end;
    padding-right: 4rem;
  }

  .animalia-description h2 {
    font-size: 1.3rem;
  }

  .animalia-description h3 {
    font-size: 1.2rem;
  }

  .animal-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    margin-left: 12%;
  }

  .animalia-info-div {
    margin: auto;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgba(227, 226, 226, 0.634);
    cursor: pointer;
    width: 18rem;
    height: 19rem;
    color: #fff;
  }

  .arrow-round {
    width: 1.8rem;
    margin-left: 24px;
  }
}

@media screen and (min-width: 768px) {
  .animalia-top-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    height: 23rem;
    background-image: 
        linear-gradient(to bottom, rgba(18,42, 66, 0.5), rgba(18,42, 66, .85)), 
        url("../images//phoro2.jpg");
       -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%; 
  }

  .big-five {
    width: 39rem;
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }

  .top-description {
    font-size: 44px;
    color: #fff;
  }

  .animalia-dropdown {
    display: flex;
    flex-direction: row;
    padding: 24px;
  }

  .animal-images {
    width: 28rem;
    height: 21rem;
    border-radius: 8px;
  }

  .animalia-description {
    display: grid;
    justify-content: end;
    padding-right: 4rem;
  }

  .animal-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
    margin: auto;
    margin: 0 16rem 0 16rem;
  }

  .animalia-info-div {
    margin: auto;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgba(227, 226, 226, 0.634);
    cursor: pointer;
    width: 38rem;
    height: 35rem;
    color: #fff;
  }

  .arrow-round {
    width: 1.8rem;
    margin-left: 24px;
  }
}
