@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #67a01c;

//   font-family: "Dancing Script", cursive;
//   font-family: "Great Vibes", cursive;
// font-family: 'Tangerine', cursive;
}
